<section class="row">
    <div class="panel-left">
        <search (filter)="list.onFilterList($event)"></search>
        <contact-list [contacts]="contacts"
                      (selected)="details.onSelectContact($event)"
                      #list></contact-list>
         <!--<router-outlet name="panel-left"></router-outlet>-->
    </div>

    <div class="panel-right">
        <div class="col-sm-12">
            <contact-details #details></contact-details>
             <!--<router-outlet name="panel-right"></router-outlet>-->
        </div>
    </div>
</section>
